.btnReadMore {
    margin-bottom: 32px;

    font-weight: inherit;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    border: none;
    outline: none;
    background-color: transparent;
}

.experience {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 14px;
    padding-right: 12px;

    @media screen and (min-width: 768px) {
        padding-right: 0;
        font-size: 16px;
    }
}

.content {
    max-height: 1000px;
    opacity: 1;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--main-accent-light) var(--main-accent);
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.hidden {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}

.visible {
    max-height: 500px;
    opacity: 1;
}

.btnBook {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    padding: 16px 48px;
    min-width: 232px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.55556;

    background-color: var(--main-accent);
    border: none;
    outline: none;
    transition: background-color var(--time) var(--cubic);

    &:hover,
    &:focus {
        background-color: var(--main-accent-light);
    }

    @media screen and (min-width: 768px) {
        margin: 0;
    }
}
