.header {
    padding-top: 20px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.55;
    border-color: transparent;
    border-radius: 12px;
    transition: background-color var(--time) var(--cubic);
}

.btn:hover,
.btn:focus {
    background-color: var(--main-accent);
}
