.wrapper {
    display: flex;
    gap: 16px;
}

.logInBtn {
    display: flex;
    align-items: center;
    gap: 8px;

    font-weight: 700;

    background-color: transparent;
    border-color: transparent;
    transition: color var(--time) var(--cubic);

    &:hover,
    &:focus {
        color: var(--main-accent);
    }

    & > svg {
        color: var(--main-accent);
    }
}

.registrationBtn {
    padding: 14px 39px;
    height: 48px;

    font-weight: 700;

    color: var(--white-color);
    background-color: var(--main-color);
    border: 1px solid transparent;
    border-radius: 12px;
    transition: color var(--time) var(--cubic), border-color var(--time) var(--cubic);

    &:hover,
    &:focus {
        border-color: var(--main-accent);
        color: var(--main-accent);
    }
}
