.btnFavorite {
    margin-left: 64px;
    padding: 0;
    border-color: transparent;
    background-color: transparent;
}

.icon {
    cursor: pointer;
    transition: color var(--time) var(--cubic);

    &:hover,
    &:focus {
        color: var(--main-accent-light);
    }
}

.isFavorite {
    color: var(--main-accent);
}
