.btnFavorite {
    position: absolute;
    top: 16px;
    right: 12px;
    border-color: transparent;
    background-color: transparent;

    @media screen and (min-width: 1280px) {
        top: 24px;
        right: 24px;
    }
}

.icon {
    cursor: pointer;
    transition: color var(--time) var(--cubic);

    &:hover,
    &:focus {
        color: var(--main-accent-light);
    }
}

.isFavorite {
    color: var(--main-accent);
}
