.wrapper {
    margin-bottom: 20px;

    @media screen and (min-width: 1280px) {
        display: flex;
        align-items: center;
        gap: 192px;
        margin-bottom: 8px;
    }
}

.label {
    display: block;
    margin-bottom: 10px;
    color: var(--text-color-secondary);

    @media screen and (min-width: 1280px) {
        margin-bottom: 0;
    }
}

.statisticsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

    @media screen and (min-width: 1280px) {
        display: flex;
        gap: 32px;
    }
}

.statisticsListItem {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;

    &:not(:last-child)::after {
        position: absolute;
        top: 3px;
        right: -8px;
        content: '';
        display: inline-block;
        width: 1px;
        height: 16px;
        background-color: rgba(18, 20, 23, 0.2);

        @media screen and (min-width: 1280px) {
            right: -16px;
        }
    }
}

.starIcon {
    color: #ffc531;
}

.price {
    color: #38cd3e;
}
