.benefits {
    padding-top: 0;
}

.list {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    border: 1.5px dashed var(--main-accent);
    border-radius: 30px;

    @media screen and (min-width: 768px) {
        gap: 100px;
    }
}

.item {
    padding: 10px;
    display: flex;
    align-items: center;
}

.title {
    margin-right: 16px;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;

    color: rgba(18, 20, 23, 0.7);

    @media screen and (min-width: 768px) {
        max-width: 90px;
    }
}
